@page "/"

<PageTitle>Home</PageTitle>

<h1> Zombie Simulation</h1>
<h3> Welcome to the Configurable Zombie Simulation!</h3>
<p> 
    In this interactive simulation, humans and zombies move around a dynamic environment. 
    Humans try to survive by avoiding zombies, while zombies relentlessly pursue humans to infect them. Watch how different 
    strategies play out in real time as the simulation evolves. Can the humans escape, or will the zombie horde take over? 
    Experiment with various parameters and witness the chaos unfold!
</p>
